
h3 {
	margin: 10px 0;
	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 300;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 250px;
	max-width: 100%;
	text-align: center;
}



.card-container .round {
	border: 1px solid #000000;
	border-radius: 50%;
	padding: 7px;
}

button.communityFollow {
	background-color: #038ccb;
	border: none;
	border-radius: 7px;
	color: #ffffff;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
    margin-bottom: 15px;
}
button.followingList {
	background-color: #038ccb;
	border: none;
	border-radius: 7px;
	color: #ffffff;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
    margin-bottom: 15px;
}
button.followersLists {
	background-color: #038ccb;
	border: none;
	border-radius: 7px;
	color: #ffffff;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
    margin-bottom: 15px;
}


