@import "../../../style.scss";

.chatapp{
  @include themify($themes) {
    background-color: themed("bgSoft");

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }

  

  
 }