.messenger {
    height: calc(100vh - 70px);
    display: flex;
  }
  
  .chatMenu {
    flex: 3.5;
  }
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
  }
  .searchButton{
    display: inline-block;
  padding: 10px;
  background-color: #4eb8ff;
  border-radius: 15px;
  border: #4eb8ff;
  cursor: pointer;
  }
  
  .chatBox {
    flex: 5.5;
  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
    background-color: #daf0ff;
    border-radius: 5px;
  }
  
  .chatBoxBottom {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    width: 100%;
    height: 50px;
    padding: 10px;
  }
  
  .chatSubmitButton {
    width: 70px;
    height: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(63, 103, 234);
    color: white;
  }
  
  .chatOnline {
    flex: 3;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
    background: #f9f9f9;
  }
  
  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }
  
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 1;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
  
    .chatOnline{
      flex: 1px;
    }
  }