.userTable{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th,td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
  } 